@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
p,
span,
button,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
nav {
  color: white;
  font-family: "Roboto";
}

button, a {
  cursor: pointer;
}

html {
  --primary: #12b0b0;
}

.container- {
  max-width: 100svw;
  width: 100svw;
  overflow-x: hidden;
  min-height: 100svh;
  overflow-y: auto;
  position: relative;
  background: #0d0d0d;
}

.absolute {
  position: absolute;
}

h4 {
  color: #fffefd;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -2%;
}

.btn {
  padding: 28px 0;
  width: 100%;
  font-size: 20px;
  color: white;
  display: block;
  text-align: center;
  border-radius: 16px;
  font-weight: 700;
  background: var(--primary);
}

p {
  font-size: 14px;
  line-height: 18px;
}

.loading-block {
  width: 100%;
  min-height: 100svh;
  background: url("./assets/loading_background.png");
  background-size: cover;
  padding-bottom: 60px;
}
.loading-block .loading-block__content {
  position: relative;
  position: absolute;
  height: 100svh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39.54%, #000000 85.43%);
  padding-bottom: 57px;
  width: 100%;
  align-items: center;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.loading-block .loading-block__content::after {
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39.54%, #000000 85.43%);
  width: 100%;
}
.loading-block .loading-block__content *:not(img) {
  z-index: 5;
}
.loading-block .loading-block__content p {
  margin-bottom: 10px;
  color: white;
  max-width: 213px;
}
.loading-block .loading-block__content > div {
  display: flex;
  gap: 20px;
}
.loading-block .loading-block__content > div > nav {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  border: 1px solid #717274;
  border-radius: 50%;
}
.loading-block .loading-block__content .spinner {
  margin-bottom: 15px;
  animation: rotation 1s linear infinite;
}
.loading-block .loading-block__content > h1 {
  font-size: 96px;
  line-height: 112px;
  color: var(--primary);
  margin-bottom: 14px;
}
.loading-block .loading-block__content > img:first-child {
  width: 430px;
  bottom: 192px;
  height: 501px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  position: absolute;
  bottom: 24px;
  width: 100vw;
  height: 64px;
  margin-inline: 15px;
  max-width: calc(100% - 30px);
  background: rgba(12, 43, 43, 0.8);
  border-radius: 12px;
  z-index: 19;
}
.footer__menu {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.footer__menu > nav {
  width: 78px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  height: 54px;
  justify-content: space-between;
  padding: 8px;
}
.footer__menu > nav.sel:nth-child(2) > svg > g, .footer__menu > nav.sel:nth-child(3) > svg > g, .footer__menu > nav.sel:nth-child(4) > svg > g {
  opacity: 1;
}
.footer__menu > nav.sel p {
  opacity: 1;
}
.footer__menu > nav > p {
  font-size: 10px;
  line-height: 10px;
  color: white;
  opacity: 0.3;
}

.BottomBlock,
.PopupBlock {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background: #1d2430;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
  border-top: 3px solid #15cfcf;
}
.BottomBlock.BottomBlock::after,
.PopupBlock.BottomBlock::after {
  background: #15cfcf;
  border-radius: 50%;
  top: 122px;
  height: 982px;
  width: 331px;
  opacity: 0.3;
  content: "";
  position: absolute;
  filter: blur(70px);
}

.earn-block {
  padding: 20px 16px;
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}
.earn-block__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.earn-block__body > p {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 22px;
}
.earn-block__top {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.earn-block__top > a {
  color: #12B0B0;
  font-size: 16px;
  margin-top: 20px;
  line-height: 20px;
}
.earn-block__top > span {
  color: #6A6A6A;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}
.earn-block__top > div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.earn-block__top > div > p {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -2%;
}

button.dark-btn {
  background: rgba(12, 43, 43, 0.3019607843);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  display: flex;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  height: 64px;
  gap: 16px;
  border-radius: 12px;
  position: relative;
  padding-right: 32px;
}
button.dark-btn > a {
  position: absolute;
  right: 16px;
  align-self: center;
}
button.dark-btn > a > svg {
  display: block;
}
button.dark-btn > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
button.dark-btn > div > p {
  font-size: 16px;
  line-height: 20px;
}
button.dark-btn > div > span {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6A6A6A;
  font-size: 16px;
  line-height: 20px;
}
button.dark-btn > div > span > p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
button.dark-btn:disabled {
  opacity: 0.4;
}

.TapBlock {
  min-height: calc(100svh - 113px);
  padding: 16px;
}

.popup-fs {
  position: fixed;
  min-height: 100svh;
  top: 0;
  z-index: 30;
  width: 100%;
  background: linear-gradient(180deg, rgba(29, 36, 48, 0.7) 28.21%, rgba(21, 207, 207, 0.7) 61.78%);
}

.PopupBlock {
  padding-top: 40px;
  z-index: 20;
}
.PopupBlock .balance-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 35px;
  padding-bottom: 30px;
  padding-inline: 14px;
  background: #2A313C;
  border-radius: 12px;
}
.PopupBlock .balance-display > h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.PopupBlock .balance-display > span {
  display: flex;
  margin-bottom: 22px;
  gap: 12px;
}
.PopupBlock .balance-display > span > p {
  font-size: 40px;
  color: white;
  line-height: 48px;
  font-weight: 700;
}
.PopupBlock .balance-display > section {
  width: 80px;
  position: relative;
  margin-bottom: 24px;
  margin-top: -35px;
  height: 80px;
  border: 5px solid #1D2430;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A313C;
}
.PopupBlock .btn {
  margin-top: 16px;
}
.PopupBlock .close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
}
.PopupBlock > * {
  z-index: 400;
}/*# sourceMappingURL=App.css.map */